[basic]
default_cmap = RdBu_r
default_cmap2D = RdBu_covar
fsl_prefix = fsl5.0-

[dependency_paths]
# The following specify paths to the binary executable files
# for blender and inkscape (which are external dependencies of
# pycortex). "inkscape" and "blender" alone should work on Linux,
# since the binaries should already be on the system path.
# For MacOS, unless you have done some manual configuration on
# your own, these will need to be something like:
# blender = /Applications/Blender/blender.app/Contents/MacOS/blender
# inkscape = /Applications/Inkscape.app/Contents/MacOS/Inkscape
# Windows is not currently supported.  
inkscape = inkscape
blender = blender

[mayavi_aligner]
line_width = 1
point_size = 2
outline_color = white
outline_rep = wireframe
opacity = 0
colormap = gray

[paths_default]
stroke = white
fill = none
display = inline
filter = url(#dropshadow)
stroke-width = 3
stroke-opacity = 1
fill-opacity = 0
stroke-dashoffset = None
stroke-dasharray = None

[labels_default]
font-family = Helvetica, sans-serif
font-size = 18pt
font-weight = bold
font-style = italic
fill = white
fill-opacity = 1
text-anchor = middle
filter = url(#dropshadow)

[overlay_paths]
stroke = white
fill = none
display = inline
filter = url(#dropshadow)
stroke-width = 2
stroke-opacity = 1
fill-opacity = 0
stroke-dashoffset = None
stroke-dasharray = None

[overlay_text]
font-family = Helvetica, sans-serif
font-size = 14pt
font-weight = bold
font-style = italic
fill = white
fill-opacity = 1
text-anchor = middle
filter = url(#dropshadow)

[rois_paths]
stroke = white
fill = none
display = inline
filter = url(#dropshadow)
stroke-width = 2
stroke-opacity = 1
fill-opacity = 0
stroke-dashoffset = None
stroke-dasharray = None

[rois_labels]
font-family = Helvetica, sans-serif
font-size = 14pt
font-weight = bold
font-style = italic
fill = white
fill-opacity = 1
text-anchor = middle
filter = url(#dropshadow)

[sulci_paths]
stroke = white
fill = none
display = inline
filter = url(#dropshadow)
stroke-width = 6
stroke-opacity = 0.6
fill-opacity = 0
stroke-dashoffset = None
stroke-dasharray = None
stroke-linecap = round

[sulci_labels]
font-family = Helvetica, sans-serif
font-size = 16pt
font-weight = 
font-style = 
fill = white
fill-opacity = 1
text-anchor = middle
filter = url(#dropshadow)

[webgl_viewopts]
voxlines = false
voxline_color = #FFFFFF
voxline_width = 0.01
specularity = 1.0
overlayscale = 1
anim_speed = 2
bumpy_flatmap = false

[curvature]
contrast = 0.25
brightness = 0.5
# Defines smoothing kernel for computation of vertex-wise curvature; None is default
smooth = None
# Use / don't use thresholded curvature for quickflat.
threshold = True
# Determines how smooth / thresholded pre-computed curvature is in webgl display; 0 is thresholded, 1 is totally smooth
webgl_smooth = 0.0

[webgl]
layers = rois,