language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

cache:
  - pip

before_install:
  - travis_retry sudo apt-get install -y inkscape

install:
  - pip install -e .

script:
  # test installation
  - python setup.py install
  # install ipython for docs and make docs
  - travis_retry pip install -q ipython
  - cd docs && make html && cd ..
  # Tell GitHub not to use jekyll to compile the docs
  - touch docs/_build/html/.nojekyll

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master
    # push only once
    python: "3.8"
  local_dir: docs/_build/html/
  repo: gallantlab/gallantlab.github.io
