body { 
    background-color:#333;
    font-family:helvetica;
    font-size:10pt;
    text-align:center;
}
canvas { display:block; }
input[type='text'] {
    border:1px solid #CCC;
    border-radius:10px / 2px;
}
table { 
    border-spacing:0; 
    border-collapse:collapse; 
}
.clear { clear:both; }
.jsplot_figure {
    background-color:#333;
}
.jsplot_axes {
    background-color:#333;
}

.content { padding:10px; }
.infobar {
    transition: all .3s; 
    transition-timing-function:ease;
    transition-delay:1s;
    -moz-transition: all .3s;
    -moz-transition-timing-function: ease;
    -moz-transition-delay:1s;
    -webkit-transition: all .3s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay:1s;

    position:relative;
    z-index:10;
    background-color:rgba(255,255,255, .2);
    box-shadow:0px 0px 10px black;
}
.infobar:hover, .infobar:active {
    background-color:rgba(255,255,255, .6);
    transition-delay:.1s;
    -moz-transition-delay:.1s;
    -webkit-transition-delay:.1s;
}

#main {
    margin:0px;
    min-height:100%;
    height: auto !important;
    height:100%;
    text-align:left;
}

.loadmsg {
    position:absolute;
    z-index:100;
    margin:20px;
    background:rgba(50,50,50,.5);
    color:white;
    padding:20px;
    right:0px;
    text-align:center;
}
.loadmsg img {
    height:16px;
    vertical-align: middle;
    margin:0px 10px 0px 0px;
}
a { color:white; }
a:hover { color:#AAA; }
a:visited { color:white; }

/*************************************************
 * WebGL Canvas
 *************************************************/
#brain {
    transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -webkit-transition:opacity .5s ease;
    position:absolute;
    z-index:2;
    opacity:0;
}
#roilabels {
    position:absolute;
    z-index:5;
    width:100%;
    height:100%;
    overflow:hidden;
}
#braincover {
    z-index:8;
    position:absolute;
    opacity:0;
}
#hiderois {
    display:none;
}


/*************************************************
 * Loading messages
 *************************************************/
#dataload {
    font-size:150%;
}
#dataload img {
    height:32px;
}
#ctmload {
    background:none;
    color:#AAA;
    width:400px;
    height:200px;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-200px;
    text-shadow:0px 1px 1px black;
    z-index:2;
}

#dataname {
    display:none;
    position:absolute;
    z-index:8;
    float:left;
    text-shadow:0px 2px 8px black, 0px 1px 8px black;
    color:white;
    font-size:24pt;
    padding:10px;
    margin:20px;
    border-radius:10px;
    background:rgba(255,255,255,.2);
    font-weight:bold;
}
.datadesc {
    font-size:10pt;
    font-weight:normal;
    color:#CCC;
}


/*************************************************
 * Top Bar
 *************************************************/
#topbar { 
    height:450px; 
    width:100%;
    margin:-440px auto -10px auto;      
    border-radius: 0px 0px 10px 10px / 0px 0px 10px 10px;
    text-align:left;
    overflow:auto;
}
#topbar:hover, #topbar:active { 
    margin:0px auto -450px auto;
}

#display_options fieldset {
    border:1px solid #666;
    border-radius: 20px 20px 50px 50px / 5px 5px 10px 10px;
    margin:5px;
}
.opt_category {
    float:left;
}
.subtable table {
    width:100%;
}
.subtable table td {
    text-align:center;
}
.subtable tr:first-child td:first-child { 
    text-align:left; 
}
.subtable table td:first-child {
    width:40%;
    min-width:50px;
}
.subtable table td:last-child {
    width:60%;
}

/* Colorbar */
.dd-selected-text, .dd-option-text { display:none; }
.dd-option-image, .dd-selected-image { 
    min-height:8px; 
    width:256px; 
    max-width:256px; 
    max-height:256px; 
}

.vcolorbar { 
    display:none; 
    width:36px; 
}
input.vlim {
    float:left; 
    width:36px;
}
.vrange_wrap { 
    float:left; 
    padding:5px 10px;
}
#vrange { 
    width:200px; 
}
#vrange2 { 
    height:200px; 
}
#topbar fieldset {
    min-width:200px;
}

#zlockopts {
    float:left;
}
p#zlocklabel {
    float:left;
    margin-right:5px;
}

/* datasets */
ul#datasets { 
    width: 200px; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    overflow:auto;
    max-height:300px;
}
ul#datasets li { 
    background: white; 
    position:relative; 
    margin: 5px; 
    padding: 5px; 
    border: 1px solid black; 
    list-style: none; 
    padding-left: 42px; 
}
ul#datasets li .handle { 
    background: #CCC; 
    position: absolute; 
    left: 0; 
    top: 0; 
    bottom: 0; 
    padding:8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ui-selecting { background: #eee !important; }
.ui-selecting .handle { background: #ddd; }
.ui-selected { background: #def !important; }
.ui-selected .handle { background: #cde; }

#thickmapping {
    display:none;
}

/*************************************************
 * Bottom Bar
 *************************************************/
.bbar_controls {
    margin-top:-47px !important;
}
.bbar_controls:hover, .bbar_controls:active{
    margin-top:-135px !important;
}

#bottombar {
    height:135px;
    margin-top:-10px;
    border-radius: 10px 10px 0px 0px / 10px 10px 0px 0px;
    clear:both;
    text-align:left;
}
#bottombar table {
    padding:4px;
    width:100%;
}
#bottombar table td:first-child {
    width:60px;
}
#bottombar:hover, #bottombar:active {
    margin-top:-115px;
}
#moviecontrols {
    width:100%;
    text-align:center;
    display:none;
}
table#movieui {
    width:80%;
    margin:auto;
    margin-top:-5px;
    text-align:left;
    vertical-align:middle;
}
#moviecontrol { 
    padding:2px; 
}
#moviecontrol img {
    padding:4px;
    margin:4px;
    appearance:button;
    -moz-appearance:button;
    -webkit-appearance:button;
}
#movieframe {
    width:60px;
}
#movieprogress {
    width:100%;
}

#mixbtns td {
    text-align:center;
}
