{% autoescape None %}
{% extends demo.html %}
{% block jsinit %}
    var viewer, subjects, datasets, figure, sock, viewopts;
{% end %}
{% block extrahtml %}
	<div id="display_cover">
  	<div id="swipe_right" class="swipe_helper">
  		<img src="resources/explo_demo/swipe_right.svg" /> 
  		Twirl left for intro
  	</div>
  	<div id="swipe_left" class="swipe_helper">
  		<img src="resources/explo_demo/swipe_left.svg" /> 
  		Twirl right <span id="swipe_left_text">to continue</span>
  	</div>
    <div id="gestures">
      <p>Explore the brain activity of someone watching this video</p>
      <img id="gesture_1" />
      <img id="gesture_2" />
      <p id="gesture_name">Rotate</p>
    </div>
    <div id="intro_frame">
    </div>
  </div>
  <div id="leap_feedback">
  <p>Your hands are...</p>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width='390' height='40'>
  <defs id="defs4">
    <linearGradient id="linearGradient4145">
      <stop style="stop-color:#ff0000;stop-opacity:1" offset="0" id="stop4147" />
      <stop id="stop4153" offset="0.2" style="stop-color:#0066AA;stop-opacity:1" />
      <stop style="stop-color:#0066AA;stop-opacity:1" offset="0.8" id="stop4155" />
      <stop style="stop-color:#000000;stop-opacity:1" offset="1" id="stop4149" />
    </linearGradient>
  </defs>
  <rect style="fill:url(#linearGradient4145);fill-opacity:1;stroke-width:1;stroke:#CCC;" width="380" height="20"  x="5" y="10" />
  <circle id='dist_indicator' cx='25' cy='20' r='15' style="stroke-width:3;stroke:white;fill:none;display:none;" /> 
  </svg>
  <span id='too_close' class='indicator_name'>Too close</span>
  <span id='just_right' class='indicator_name'>Just right</span>
  <span id='too_far' class='indicator_name'>Too far</span>
  </div>
  <div id="attribution">
    <p> Visit this at home at tinyurl.com/pycortex</p>
    <p> pycortex software by James Gao</p>
    <p> Introduction by Natalia Bilenko</p>
    <p> Instruction graphics by Helene Moorman</p>
    <p> Categories &amp; movement data by Mark Lescroart</p>
    <p> Decoding by Natalia Bilenko, Valkyrie Savage, &amp; Shinji Nishimoto</p>
    <p>Funding support from NEI-EY019684 &amp; NSF-0939370 grant awards to Jack Gallant, University of California at Berkeley. </p>
  </div>

{% end %}
{% block onload %}
		viewopts = {
			voxlines: {{voxlines}},
			voxline_width: {{voxline_width}},
			default_2Dcmap: "RdBu_covar",
		};
		
	    subjects = {{subjects}};
		for (var name in subjects) {
			subjects[name] = new mriview.Surface(subjects[name]);
		}

		figure = new jsplot.W2Figure();
		viewer = figure.add(mriview.Viewer, "main", true);
    viewer.loaded.done(function() {
      viewer.playpause();
    });

		dataviews = dataset.fromJSON({{data}});
		viewer.addData(dataviews);

{% end %}