{% autoescape None %}
{% extends template.html %}
{% block jsinit %}
    var viewer, subjects, datasets, figure, sock, viewopts;
{% end %}
{% block onload %}
		viewopts = {
			voxlines: {{voxlines}},
			voxline_width: {{voxline_width}},
			default_2Dcmap: "RdBu_covar",
		};
		
		subjects = {{subjects}};
		figure = new jsplot.W2Figure();
		viewer = figure.add(mriview.Viewer, "main", true);

		dataviews = dataset.fromJSON({{data}});

		viewer.addData(dataviews);
		for (var name in subjects) {
			subjects[name] = new mriview.Surface(viewer, subjects[name]);
			subjects[name].loaded.done(function() {
				subjects[name].apply(viewer.active);
			});
		}

		sock = new Websock();
{% end %}