<!doctype html>
<html>
<title>Brain</title>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="resources/css/ui-lightness/jquery-ui-1.8.21.custom.css" type='text/css' />
<link rel="stylesheet" href="resources/css/jquery.miniColors.css" type='text/css' />

<script type='text/javascript' src='resources/js/jquery-1.8.0.min.js'></script>
<script type='text/javascript' src='resources/js/jquery-ui-1.8.23.custom.min.js'></script>
<script type='text/javascript' src='resources/js/jquery.ddslick.min.js'></script>
<script type='text/javascript' src='resources/js/jquery.miniColors.js'></script>

<script type='text/javascript' src="resources/js/Three.js"></script>
<script type='text/javascript' src="resources/js/ctm/lzma.js"></script>
<script type='text/javascript' src="resources/js/ctm/ctm.js"></script>
<script type='text/javascript' src="resources/js/ctm/CTMLoader.js"></script>

<script type="text/javascript" src="resources/js/rgbcolor.js"></script> 
<script type="text/javascript" src="resources/js/canvg.js"></script> 

<script type='text/javascript' src='resources/js/datamodel.js'></script>
<script type='text/javascript' src='resources/js/svgroi.js'></script>
<script type='text/javascript' src='resources/js/shadowtex.js'></script>
<script type='text/javascript' src='resources/js/facepick.js'></script>
<script type='text/javascript' src="resources/js/LandscapeControls.js"></script>
<script type='text/javascript' src='resources/js/mriview.js'></script>
{% if python_interface %}
<script type='text/javascript' src='resources/js/python_interface.js'></script>
{% end %}
{% block javascripts %}
{% end %}

<link rel="stylesheet" href="resources/css/mriview.css" type='text/css' />
<style type='text/css'>
	ul#datasets li .handle {
		display:none;
	}
	#helpmenu {
		position:absolute;
	    background:rgba(255, 255, 255, 0.2);
	    transition:opacity 0.25s;
	    -moz-transition:opacity 0.25s;
	    -webkit-transition:opacity 0.25s;
	    padding:0.5em;
	    margin:2em;
	    margin-top:-20em;
	    width:15em;
	    z-index:100;
	    border-radius:5px;
	    color:white;
	    text-shadow:0 0 3px black;
	}
	#intro {
		position:absolute;
		width:60%;
		height:50%;
		left:20%;
		top:20%;
		border-radius:10px;
		padding:2em;
		z-index:100;
		background:rgba(255,255,255,0.6);
	}
	#introclose {
		float:right;
		margin-top:-3em;
		margin-right:-3em;
	}
	#topbar {
		margin:-440px 0 -10px 0; 
	}
	#topbar:hover, #topbar:active {
		margin:0px 0 -450px 0;
	}
	#bottombar {
		margin-top:-80px;
		z-index:10;
		position:relative;
	}
	#bottombar table {
		padding:4px;
		width:100%;
	}
	#bottombar table td {
		width:25% !important;
	}
	#bottombar:hover, #bottombar:active {
		margin-top:-80px;
	}
	div#pluginbox {
		height:100%;
	}
</style>

<script type='text/javascript'>
	function webgl() { 
		try { 
			return !! window.WebGLRenderingContext && !! document.createElement( 'canvas' ).getContext( 'experimental-webgl' ); 
		} catch( e ) { 
			return false; 
		} 
	};
	function vtex(vtmin, atmin) {
		var gl = document.createElement("canvas").getContext('experimental-webgl');
		var vtex = gl.getParameter(gl.MAX_VERTEX_TEXTURE_IMAGE_UNITS);
		var atex = gl.getParameter(gl.MAX_COMBINED_TEXTURE_IMAGE_UNITS);
		if (vtex >= vtmin && atex >= atmin)
			return true;
		return false;
	}

	{% block jsinit %}
	{% end %}

	var cmapnames = {}

	$(document).ready(function() {
		$("#colormap option").each(function(idx) {
			cmapnames[$(this).text()] = idx;
		});

		$("#introclose").click(function() { $("#intro").hide(); });

		window.addEventListener("keypress", function(e) {
			if (e.keyCode == 104)
				$("#helpmenu").css("opacity", $("#helpmenu").css("opacity") == 1 ? 0 : 1);
		});

		if (!webgl()) {
			$(".loadmsg").hide();
			$("#ctmload").html("<p>Sorry, it seems you have no <a href='http://get.webgl.org'>WebGL support.</a> :(</p><p>If you are using Chrome, try <a href='http://peter.sh/experiments/chromium-command-line-switches/#ignore-gpu-blacklist'>ignoring the GPU blacklist.</a></p>").show();
		} else if (!vtex(4, 9)) {
			$(".loadmsg").hide();
			$("#ctmload").html("<p>Sorry, your computer does not have the minimum number of texture units :(</p><p>Try upgrading your drivers and/or your browser</p>");
		} else {
			{% block onload %}
			{% end %}
		}
	})
</script>
</head>
<body>
<div id='topbar' class='infobar'>
	<div class='content'>
		<form id='display_options'>
			<fieldset id='color_fieldset' class='opt_category'>
				<legend>Colormap</legend>
				<table>
					<tr><td class='vcolorbar'>
						<div id='vminmax2'>
							<input type='text' id='vmax2' class='vlim'/>
							<div class='vrange_wrap'><div id='vrange2'></div></div>
							<input type='text' id='vmin2' class='vlim'/>
							<div class='clear'></div>
						</div>
					</td><td>
						<select id='colormap'>
							{% for name, img in colormaps %}
							<option data-imagesrc='{{img}}' {% if name == default_cmap %}selected='selected'{%end%}>{{name}}</option>
							{% end %}
						</select>
					</td></tr>
					<tr><td class='vcolorbar'></td><td>
						<div id='vminmax'>
							<input type='text' id='vmin' class='vlim' />
							<div class='vrange_wrap'><div id='vrange'></div></div>
							<input type='text' id='vmax' class='vlim' />
							<div class='clear'></div>
						</div>
					</td></tr>
				</table>
			</fieldset>
			<div class='opt_category'>
			<fieldset id="roi_fieldset" class='subtable'>
				<legend>ROIs</legend>
				<div class='display_opt'>
					<input id='roishow' type='checkbox' checked='checked'><label for='roishow'>Show</label>
					<input id='labelshow' type='checkbox' checked='checked'><label for='labelshow'>Labels</label>
				</div>
			</fieldset>
			<fieldset id="layers_fieldset" class='subtable'>
				<legend>Layer Alpha</legend>
				<div class='display_opt'>
					<table id='layerData'>
						<tr>
							<td><label for='layer_dataalpha'>Data</label></td>
							<td><div id='layer_dataalpha'></div></td>
						</tr>
					</table>
				</div>
			</fieldset>
			</div>
			<fieldset id="dataset_fieldset" class='opt_category'>
				<legend>Datasets</legend>
				<ul id='datasets'>
				</ul>
			</fieldset>
		</form>
	</div>
</div>

<div id='intro'>
	<button id='introclose'>x</button>
	Welcome to pycortex's webgl MRI view!
</div>

<div id='main'>
	<div id='left'>
		<div id='dataload' class='loadmsg'><img src='resources/images/loading.gif'>Loading data...</div>
		<div id='ctmload' class='loadmsg'><img src='resources/images/loading.gif'>Loading brain...</div>
		<div id='dataname'></div>
		<div id='roilabels'></div>
		<div id='braincover'></div>
		<canvas id='brain'></canvas>
	</div>
	<div id='bar'>
		<div class='vcenter'>
			=<br/>=
		</div>
	</div>
	<div id='sidepanel'>
	    <div class='vcenter'>
	    	<div id='pluginload' class='loadmsg'><img src='resources/images/loading.gif'>Loading...</div>
	    	<div id='pluginbox'>
	    	</div>
	    </div>
	</div>
</div>

<table id='helpmenu'>
	<tr><td>h</td><td>Help</td></tr>
	<tr><td>+</td><td>Next Dataset</td></tr>
	<tr><td>-</td><td>Prev Dataset</td></tr>
	<tr><td>Left mouse</td><td>Rotate / Pick</td></tr>
	<tr><td>Middle mouse</td><td>Pan</td></tr>
	<tr><td>Right mouse</td><td>Zoom</td></tr>
</table>

<div id='bottombar'>
	<div class='content'>
		<div id='moviecontrols'>
			<table id='movieui'>
				<tr>
					<td><input type='text' id='movieframe' /></td>
					<td id='movieprogress'><div></div></td>
					<td id='moviecontrol'><img src='resources/images/control-play.png' /></td>
				</tr>
			</table>
		</div>
		<table>
			<tr id='mixbtns'>
			</tr>
			<tr>
				<td><div id="mix"></div></td>
			</tr>
		</table>
	</div>
</div>

{% block extrahtml %}
{% end %}

</body>
</html>
