{% autoescape None %}
{% extends template.html %}
{% block jsinit %}
    var viewer, subjects, datasets, figure, sock, viewopts, metadata;
{% end %}
{% block onload %}
        viewopts = {{viewopts}};
        subjects = {{subjects}};
        for (var name in subjects) {
            subjects[name] = new mriview.Surface(subjects[name]);
        }

        figure = new jsplot.W2Figure();
        viewer = figure.add(mriview.Viewer, "main", true);

        metadata = {{data}};
        dataviews = dataset.fromJSON(metadata);
        viewer.addData(dataviews);
        viewer.addTracts(metadata.tracts);
{% end %}
