<!doctype html>
<html>
<title>{{ title }}</title>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="resources/css/ui-lightness/jquery-ui-1.8.21.custom.css" type='text/css' />
<link rel="stylesheet" href="resources/css/jquery.miniColors.css" type='text/css' />
<link rel="stylesheet" href="resources/css/w2ui-1.2.min.css" type='text/css' />

<script type='text/javascript' src='resources/js/jquery-1.8.0.min.js'></script>
<!-- <script type='text/javascript' src='resources/js/jquery-ui-1.8.23.custom.min.js'></script> -->
<script type='text/javascript' src='resources/js/jquery-ui-1.8.23.min.js'></script>
<script type='text/javascript' src='resources/js/jquery.ddslick.min.js'></script>
<script type='text/javascript' src='resources/js/jquery.miniColors.js'></script>

<script type='text/javascript' src="resources/js/Three.js"></script>
<script type='text/javascript' src="resources/js/ctm/lzma.js"></script>
<script type='text/javascript' src="resources/js/ctm/ctm.js"></script>
<script type='text/javascript' src="resources/js/ctm/CTMLoader.js"></script>

<script type="text/javascript" src="resources/js/rgbcolor.js"></script> 
<script type="text/javascript" src="resources/js/canvg.js"></script> 

<script type='text/javascript' src='resources/js/datamodel.js'></script>
<script type='text/javascript' src='resources/js/dataset.js'></script>
<script type='text/javascript' src='resources/js/sliceplane.js'></script>
<script type='text/javascript' src='resources/js/svgroi.js'></script>
<script type='text/javascript' src='resources/js/shadowtex.js'></script>
<script type='text/javascript' src='resources/js/shaderlib.js'></script>
<script type='text/javascript' src="resources/js/LandscapeControls.js"></script>
<script type='text/javascript' src="resources/js/kdTree-min.js"></script>
<script type='text/javascript' src='resources/js/facepick.js'></script>
<script type='text/javascript' src='resources/js/w2ui-1.2.min.js'></script>
<script type='text/javascript' src='resources/js/figure.js'></script>
<script type='text/javascript' src='resources/js/mriview_utils.js'></script>
<script type='text/javascript' src='resources/js/mriview.js'></script>

{% if python_interface %}
<script type='text/javascript' src='resources/js/python_interface.js'></script>
{% end %}
{% block javascripts %}
{% end %}

{% autoescape None %}
<script type="text/javascript">
var disp_layers = [{% for layer in disp_layers %}"{{layer}}", {%end%}];
var disp_defaults = {{json_encode(disp_defaults)}};
</script>

<script type='text/html' id='mriview_html'>
<div id='topbar' class='infobar'>
	<div class='content'>
		<form id='display_options'>
			<fieldset id='color_fieldset' class='opt_category'>
				<legend>Colormap</legend>
				<table>
					<tr><td class='vcolorbar'>
						<div id='vminmax2'>
							<input type='text' id='vmax2' class='vlim'/>
							<div class='vrange_wrap'><div id='vrange2'></div></div>
							<input type='text' id='vmin2' class='vlim'/>
							<div class='clear'></div>
						</div>
					</td><td>
						<input id='cmapsearchbox' type='text' name='cmapsearchbox' style='display:none'>
						<ul id='cmapsearchresults' style='display:none' class='dd-options'></ul>
						<select id='colormap'>
							{% for name, img in colormaps %}
							<option data-imagesrc='{{img}}' {% if name == default_cmap %}selected='selected'{%end%}>{{name}}</option>
							{% end %}
						</select>
					</td><td>
						<span title="Click to search for colormap by name"><div id='cmapsearch'><img src='resources/images/magnifying_glass.png'></div></span>
					</td></tr>
					<tr><td class='vcolorbar'></td><td>
						<div id='vminmax'>
							<input type='text' id='vmin' class='vlim' />
							<div class='vrange_wrap'><div id='vrange'></div></div>
							<input type='text' id='vmax' class='vlim' />
							<div class='clear'></div>
						</div>
					</td><td></td></tr>
				</table>
			</fieldset>
			<div class='opt_category'>
			<fieldset id="overlay_fieldset" class='subtable'>
				<legend>&nbsp;</legend>
				<!--<div id="overlays_tabs">-->
					<ul>
						{% for layer in disp_layers %}
						<li><a href="#{{layer}}_tab">{{layer}}</a></li>
						{% end %}
					</ul>
					{% for layer in disp_layers %}
					<div id="{{layer}}_tab">
						<div class='display_opt'>
							<span title="Enable to draw {{layer}} on the surface"><input id='{{layer}}show' type='checkbox' checked='checked'><label for='{{layer}}show'>Show</label></span>
							<span title="Enable to show names of {{layer}} (hotkey: L)"><input id='{{layer}}labelshow' type='checkbox' checked='checked'><label for='{{layer}}labelshow'>Labels</label></span>
						</div>
						<div class='display_opt'>
							<table id='{{layer}}lines'>
								<tr title="Select color of {{layer}} outlines">
									<td><label for='{{layer}}_linecolor'>Line color</label></td>
									<td><input type='hidden' id='{{layer}}_linecolor'/></td>
								</tr>
								<tr title="Set alpha of {{layer}} outlines">
									<td><label for="{{layer}}_linealpha">Alpha</label></td>
									<td><div id='{{layer}}_linealpha'></div></td>
								</tr>
								<tr title="Set width of {{layer}} outlines">
									<td><label for="{{layer}}_linewidth">Width</label></td>
									<td><div id='{{layer}}_linewidth'></div></td>
								</tr>
							</table>
						</div>
						<div class='display_opt'>
							<table id='{{layer}}fill'>
								<tr title="Select color of {{layer}} fill">
									<td><label for='{{layer}}_fillcolor'>Fill color</label></td>
									<td><input type='hidden' id='{{layer}}_fillcolor'/></td>
								</tr>
								<tr title="Set alpha of {{layer}} fill">
									<td><label for="{{layer}}_fillalpha">Alpha</label></td>
									<td><div id='{{layer}}_fillalpha'></div></td>
								</tr>
							</table>
						</div>
						<div class='display_opt'>
							<table id='{{layer}}shadow'>
								<tr title="Select color of {{layer}} shadow">
									<td><label for='{{layer}}_shadowcolor'>Shadow</label></td>
									<td><input type='hidden' id='{{layer}}_shadowcolor'/></td>
								</tr>
								<tr title="Set radius of {{layer}} shadow">
									<td><label for="{{layer}}_shadowalpha">Radius</label></td>
									<td><div id='{{layer}}_shadowalpha'></div></td>
								</tr>
							</table>
						</div>
					</div>
					{% end %}
				<!--</div>-->
			</fieldset>
			<fieldset id="layers_fieldset" class='subtable'>
				<legend>Display Layers</legend>
				<div class='display_opt'>
					<table id='layerHatch'>
						<tr title="Set alpha of dropout display">
							<td><label for='layer_hatchalpha'>Dropout</label></td>
							<td><div id='layer_hatchalpha'></div></td>
						</tr>
						<tr title="Select color of dropout display">
							<td><label for='layer_hatchcolor'>Color</label></td>
							<td><input type='hidden' id='layer_hatchcolor' value='#000000' /></td>
						</tr>
					</table>
				</div>
				<div class='display_opt'>
					<table id='layerData'>
						<tr title="Set alpha of data display (lower to show curvature)">
							<td><label for='layer_dataalpha'>Data</label></td>
							<td><div id='layer_dataalpha'></div></td>
						</tr>
					</table>
				</div>
				<div class='display_opt'>
					<table id='layerCurv'>
						<tr title="Set alpha of curvature display">
							<td><label for='layer_curvalpha'>Curvature</label></td>
							<td><div id='layer_curvalpha'></div></td>
						</tr>
						<tr title="Set hardness of curvature thresholding">
							<td><label for="layer_curvmult">Threshold</label></td>
							<td><div id='layer_curvmult'></div></td>
						</tr>
						<tr title="Set contrast of curvature display">
							<td><label for="layer_curvlim">Contrast</label></td>
							<td><div id='layer_curvlim'></div></td>
						</tr>
						<tr title="Set brightness of curvature display">
							<td><label for="layer_curvmean">Brightness</label></td>
							<td><div id='layer_curvmean'></div></td>
						</tr>
					</table>
				</div>
			</fieldset>
			</div>
			<div class='opt_category'>
				<fieldset id="viewopt_fieldset" class='subtable'>
					<legend>View</legend>
					<div class='display_opt' title="Enable to show slice planes. Not available in flat view. (Hotkeys: Q/W move saggital plane, A/S move coronal plane, Z/X move axial plane)">
						<input id='volvis' type='checkbox'><label for='volvis'>Volume slices visible</label>
					</div>
					<div class='display_opt' title="Enable to show left hemisphere surface">
						<input id='leftvis' type='checkbox' checked><label for='leftvis'>Left hem. visible</label>
					</div>
					<div class='display_opt' title="Enable to show right hemisphere surface">
						<input id='rightvis' type='checkbox' checked><label for='rightvis'>Right hem. visible</label>
					</div>
					<div class='display_opt'>
						<p id='projlabel'>Projection:</p>
						<div id='projopts'>
							<span title="Select to use perspective projection (objects get smaller as they get farther away)"><input id='projpersp' type='radio' name='projtype' ​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​value='persp' checked>
						    <label for='projpersp'>Perspective</label><br></span>
						    <span title="Select to use orthographic projection"><input id='projortho' type='radio' name='projtype' value='ortho'>
						    <label for='projortho'>Orthographic</label><br></span>
						</div>
					</div>
					<div class='display_opt'>
						<table id='layerSpec'>
							<tr title="Set surface specularity (shininess)">
								<td><label for='layer_specularity'>Specularity</label></td>
								<td><div id='layer_specularity'></div></td>
							</tr>
						</table>
					</div>
					<!--<div class='display_opt'>
						<p id='zlocklabel'>Zoom lock:</p>
						<div id='zlockopts'>
							<input id='zlocknone' type='radio' name='zoomlock' ​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​value='None' checked>
						    <label for='zlocknone'>​​​​​​​​​​​​​​​​​​​​​None</label><br>
						    <input id='zlockleft' type='radio' name='zoomlock' value='left'>
						    <label for='zlockleft'>left</label><br>
						    <input id='zlockright' type='radio' name='zoomlock' value='right'>
						    <label for='zlockright'>right</label><br>
						    <input id='zlockwhole' type='radio' name='zoomlock' value='whole'>
						    <label for='zlockwhole'>whole</label><br>
						</div>
					</div>-->
				</fieldset>
				<fieldset id='voxopt_fieldset' class='subtable'>
					<legend>Voxels</legend>
					<div class='display_opt'>
						<table id='voxline'>
							<tr title="Enable to draw voxel outlines on surface">
								<td><label for='voxline_show'>Voxel lines</label></td>
								<td><input id='voxline_show' type='checkbox' /></td>
							</tr>
							<tr title="Set color of voxel outlines">
								<td><label for='voxline_color'>Color</label></td>
								<td><input type='hidden' id='voxline_color' value='{{voxline_color}}' /></td>
							</tr>
							<tr title="Set width of voxel outlines">
								<td><label for='voxline_width'>Width</label></td>
								<td><div id='voxline_width'></div></td>
							</tr>
						</table>
					</div>
					<div class='display_opt'>
						<table>
							<tr title="Select method used to interpolate voxel data onto surface. Nearest: each point on the surface is mapped to the containing voxel. Trilinear: linear interpolation is used in all three dimensions. Bilinear/nearest: linear interpolation is used within a slice and nearest interpolation is used between slices.">
								<td><label for='datainterp'>Interpolation</label></td>
								<td>
									<select id='datainterp'>
										<option value='nearest'>Nearest</option>
										<option value='trilinear'>Trilinear</option>
										<option value='nearlin'>Bilinear/nearest</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div class='display_opt' id='thickmapping'>
						<table>
							<tr title="Set number of samples through cortical thickness. Display average of samples.">
								<td><label for='thicklayers'>Layers</label></td>
								<td><div id='thicklayers'></div></td>
							</tr>
							<tr id='thickmix_row' title="Set depth of rendered surface. Lower to show pial surface, increase to show white matter surface.">
								<td><label for='thickmix'>Depth</label></td>
								<td><div id='thickmix'></div></td>
							</tr>
						</table>
					</div>
				</fieldset>
			</div>
			<fieldset id="dataset_fieldset" class='opt_category'>
				<legend>Datasets</legend>
				<ul id='datasets'>
				</ul>
			</fieldset>
		</form>
	</div>
</div>
<div id='main'>
	<div id='ctmload' class='loadmsg'><img src='resources/images/loading.gif'>Loading brain...</div>
	<div id='dataname'></div>
	<div id='braincover'></div>
	<canvas id='brain'></canvas>
</div>
<div id='bottombar' class='infobar'>
	<div class='content'>
		<div id='moviecontrols'>
			<table id='movieui'>
				<tr>
					<td><input type='text' id='movieframe' /></td>
					<td id='movieprogress'><div></div></td>
					<td id='moviecontrol'><img src='resources/images/control-play.png' /></td>
				</tr>
			</table>
		</div>
		<table>
			<tr id='mixbtns'>
				<td></td>
			</tr>
			<tr title="Drag to interpolate between surface types">
				<td><label for='mix'>Mix</label></td>
				<td><div id="mix"></div></td>
			</tr>
			<tr title="Drag to pivot hemispheres away from each other">
				<td><label for='pivot'>Pivot</label></td>
				<td><div id="pivot"></div></td>
			</tr>
			<tr title="Drag to shift hemispheres away from each other">
				<td><label for='shifthemis'>Shift</label></td>
				<td><div id="shifthemis"></div></td>
			</tr>
		</table>
	</div>
</div>
</script>
<script type='text/html' id='movieaxes_html'>
	<div class='movie_wrapper'>
        <div class='movie_cell'>
            <div class='movie_load loadmsg'>
                <img src='resources/images/loading.gif'>
                Loading...
            </div>
            <video class='movie' preload loop='loop'>
                <source />
            </video>
        </div>
    </div>
</script>

<link rel="stylesheet" href="resources/css/jsplot.css" type='text/css' />
<link rel="stylesheet" href="resources/css/mriview.css" type='text/css' />
<script type='text/javascript'>
	var validator = new function() {
		var gl;
		this.webgl = false;
		this.android = /Android/i.test(navigator.userAgent);
		this.mobile = /webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent);
		try {
			if (window.WebGLRenderingContext) {
				gl = document.createElement("canvas").getContext('experimental-webgl');
				this.webgl = !! gl;
			}
		} catch (e) {}
		this.vtex = function(vtmin, atmin) {
			var vtex = gl.getParameter(gl.MAX_VERTEX_TEXTURE_IMAGE_UNITS);
			var atex = gl.getParameter(gl.MAX_COMBINED_TEXTURE_IMAGE_UNITS);
			if (vtex >= vtmin && atex >= atmin)
				return true;
			return false;
		}
		this.vattr = function(vmin) {
			return gl.getParameter(gl.MAX_VERTEX_ATTRIBS) >= vmin;
		}
	};

	{% block jsinit %}
	{% end %}

	var cmapnames = {}

	$(document).ready(function() {
		if (validator.mobile) {
			$(".loadmsg").hide();
			$("#ctmload").html("<p>Sorry, mobile browsers are not supported.</p><p>Unfortunately, iOS devices do not support WebGL.</p><p>Please ask Apple for WebGL support in their browsers!</p>").show();
		} else if (!validator.webgl) {
			$(".loadmsg").hide();
			$("#ctmload").html("<p>Sorry, it seems you have no <a href='http://get.webgl.org'>WebGL support.</a> :(</p><p>If you are using Chrome, try <a href='http://peter.sh/experiments/chromium-command-line-switches/#ignore-gpu-blacklist'>ignoring the GPU blacklist.</a></p>").show();
		} else if (!validator.vtex(3, 5)) {
			$(".loadmsg").hide();
			$("#ctmload").html("<p>Sorry, your computer does not have the minimum number of texture units :(</p><p>Try upgrading your drivers and/or your browser</p>").show();
		} else {
			{% block onload %}
			{% end %}
		}

	});
</script>

</head>
<body>
<div id='dataload' class='loadmsg'><img src='resources/images/loading.gif'>Loading data...</div>
{% block extrahtml %}
{% end %}

</body>
</html>
	
